canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg:
  rgba(89, 89, 89, 0.95);
  --spacing: 35px;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: rgb(0, 0, 0);
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0px auto;
  padding: 30px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}


  header {
    background: var(--dark-bg);
    grid-column: 2 / span 10;
    font-size: 1.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: rgb(193, 110, 110);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  .left {
    grid-column: 6 / 12;
  }